html {
  /* background: #018DED url(http://unsplash.it/1500/1000?image=881&blur=5); */
  background-color: #571845;
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  /* display: flex;
  flex: 1; */
  /* min-height: 100vh; */
  align-items: center;
}
header {
  text-align: center;
  font-size: 130%;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
  text-shadow: 0 0 0.5rem black;
}
.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid #900c3e;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #900c3e,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 60%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 85%;
  transform: rotate(90deg);
  transition: all 0.1s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.second-hand {
  background: #c70039;
  height: 3px;
}
.hour-hand {
  background: #ff5733;
  height: 7px;
  width: 50%;
  transform-origin: 100%;
}
footer {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  text-shadow: 0 0 0.5rem black;
  color: #ffffff;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
}
footer a {
  color: #ffc300;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
